/* tablet 가로 */
@media(max-width : 1199px){
    .loan_wrap{
        width: 100%;
    }
    .loan_main{
        width: 100%;
    }
    .tab_right > div{
        justify-content: center;
    }
    .tab_right h4{
        font-size: 20px;
    }
    .tab_right p{
        display: none;
    }
}
/* tablet 세로 */
@media(max-width : 959px){
    .tab_right h4{
        font-size: 16px;
    }
    .tab_left li:nth-child(2){
        display: none;
    }
    .tab_left li:nth-child(3){
        display: none;
    }
}
/* mobile */
@media(max-width : 719px){
}
/* deskTop */

@media (min-width: 1200px) {
}